body {
    /* background-image:url("images/starwars.jpg"); */
    background-color:black;
}

#starwars {
    font-family: 'Skranji', cursive;
    font-size: 70px;
    color: gold;
    text-align: center;
}

.battle {
    margin-top: 5%;
}
.characters {
    margin-top: 3%;
}
.head {
    margin-bottom: 3%;
}

#my-player, #comp-player {
    color: rgb(75, 213, 238);
    font-size: 40px;
    text-align: center;

}
maul {
    background-image: url('assets/images/darthmaul.jpg');
}