/* background */
body {
    /* background-image:url("../images/starwars.jpg");
    background-repeat: no-repeat; */
    /* background-color:black; */
}
/* title */
#starwars {
    font-family: 'Skranji', cursive;
    font-size: 70px;
    color: gold;
    text-align: center;
}
/* head */
.head {
    margin-bottom: 3%;
}

/* pick players */
#my-player, #comp-player {
    color: rgb(75, 213, 238);
    font-size: 40px;
    text-align: center;

}

/* chosen character */
.characters {
    margin-top: 3%;
    color: rgb(75, 213, 238);
    font-size: 25px;
    font-family: 'Skranji', cursive;
    text-align: center;
}
/* battle */
#battle {
    color: gold;
    font-size: 20px;
}

/* attack */
.battle {
    margin-top: 5%;
}

img {
    width: 200px;
    height: 200px;
}